In [1]:
import pandas as pd
import numpy as np
import altair as alt

#### Read File

In [ ]:
df2016=pd.read_csv('ks-projects-201612.csv')
df2018=pd.read_csv('ks-projects-201801.csv')

C:\Users\gauta\AppData\Local\Temp\ipykernel_7164\3419249558.py:1: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df2016=pd.read_csv('ks-projects-201612.csv')

In [14]:
df2016.columns

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged ', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16'],
      dtype='object')

In [28]:
df2016['state '].unique()

array(['failed', 'canceled', 'successful', 'live', 'undefined',
       'suspended', '4262', '3984', '525', '0', '3035', '3273', '590',
       '23924', '12306', '13675', '2', '4690', '4488.01', '687', '450',
       '16185', '80', '1495', '20', '14309.36', '04-06-2011 01:17',
       '8542', '3363', '950', '1800.5', '352', '1320', '18', '2161',
       '28-06-2016 21:36', '331', '17861', '1', '2630', '1085', '3711',
       '103', '8609.6', '312', '11044', '5600.65', '630', '1010', '178',
       '2530', '3671', '65', '5', '4451', '16', '2000', '377', '125',
       '6169', '90', '765', '218.5', '1850', '166', '2107', '63', '10',
       '3300', '306', '13', '400', '7703', '650', '800', '4287', '1056',
       '5940', '45', '1827', '10890.45', '245', '276', '200', '30', '6',
       '797', '6126', '175', '12201', '3605.13', '1200', '325', '2632',
       '7271', '46', '18-02-2016 21:40', '465', '9430.8', '2308', '310',
       '7470', '2759', '9857.8', '6453', '6189', '6093', '51', '860',
       '6442', '390', '1595', '1763.47', '130', '11315.5', '25', '3141',
       '218.75', '1700', '504', '641', '100', '2331', '763', '115', '255',
       '5656.43', '50', '514', '3285.11', '109', '251', '1230', '1600',
       '890', '1661', '20223', '171', '5010', '157', '381', '3320',
       '1322', '1403', '14032.77', '191', '3280', '6983.18', '575',
       '1404', '55', '900', '477', '320', '2312', '4415', '14159', '26',
       '1400', '9500', '24780', '235', '270', '3333', '500', '37', '6207',
       '202', '1397', '27777', '106', '15', '1421', '971',
       '22-02-2016 21:57', '70', '1035', '258', '1146', '6323', '8',
       '7554', '422.38', '8047', '278', '1191', '4417', '110', '343',
       '640', '41', '8494', '130.16', '180', '15816', '36', '35723',
       '1753', '86', '20000', '1301', '7542', '10564', '345', '7839',
       '506', '7492', '6696', '157323.21', '21', '301', '4354', '1669',
       '846', '239', '2338', '485', '3288', '145', '5275.01', '9210.69',
       '33.06', '741', '150', '35', '30112', '9337', '936', '15096',
       '165', '360', '1327.89', '1111.11', '5425.64', '17169', '9951',
       '81', '451', '410', '721', '498', '85', '938', '2614', '2503',
       '710', '2927', '5556', '290', '38', '1181', '27660', '9187',
       '2053', '118', '2058', '475', '1731', '516', '791', '6790', '300',
       '497', '8084', '244321', '25651.99', '515', '625', '20658',
       '6972.6', '1900', '31', '201', '2721', '2742', '31657', '75',
       '2408', '7562', '170', '751', '1598', '490', '3495', '40', '1822',
       '4685', '7000.58', '3660', '46653', '2290', '3065.7', '1295',
       '2845', '17350', '29', '187', '12484', '225', '31813', '97',
       '11558', '2718', '535', '3501', '08-09-2015 22:08', '876', '700',
       '5831', '1665', '2571.31', '316', '5797', '63.01', '2142', '38451',
       '15361', '5621', '3185', '8040', '03-01-2013 03:45', '39', '365',
       '140.01', '11565', '6203', '253', '755', '1270', '655', '260',
       '1756', '12', '95', '22', '123', '4507', '52670', '8253', '4367',
       '1410', '621', '1366', '2531', '445', '75000', '7', '384', '1690',
       '6430', '6091', '10-10-2015 01:00', '1685', '396', '3036', '433',
       '15665', '3041', '28-01-2015 13:53', '10770', '615', '35.01',
       '2375', '174', '856', '52', '266', '4150', '505', '1296', '82',
       '8157', '1342', '722', '250', '12590', '7253.01', '850', '692',
       '109301.56', '28751.5', '560', '3075', '9748', '2398',
       '15-02-2016 17:24', '8260', '533', '2337', '160', '111307.22',
       '19224', '7326.46', '5661', '2867', '1100', '1520', '135', '2026',
       '1577', '545', '2356', '11050', '865', '7281.1', '296', '61',
       '179', '2501', '2634'], dtype=object)

In [27]:
df2016['country '].unique()

array(['GB', 'US', 'CA', 'NO', 'AU', 'IT', 'DE', 'IE', 'ES', 'N,"0', 'MX',
       'SE', 'FR', 'NL', 'NZ', 'CH', 'AT', 'BE', 'DK', 'HK', 'LU', '14',
       '46', '10', '0', '42', 'SG', '35', '780', '122', '213', '2', '3',
       '126', '73', '19', '1', '142', 'failed', '140', '38', '24', '60',
       '37', '29', '167', '45', '23', '4', '85', '9', '248', '111', '18',
       '13', '28', '40', '54', '17', '20', '195', '25', '72', '22', '12',
       '158', '62', '307', '31', '107', '7', '110', '6', '69', '68', '84',
       '75', '119', '78', '150', '77', '83', '89', '16', '154', '92',
       '11', '116', '56', '136', '58', '27', '26', '582', '43', '5', '41',
       '30', '177', '36', '15', '49', '51', '9854', '168', '8', '57',
       '283', '61', '33', '74', '157', '405', '91', '174', '813', '66',
       '52', '114', '288', '109', '21', '32', '169', '50', '98', '483',
       '289', '88', '124', '159', '222', '65', '631', '59', '53', '117',
       '197', 'successful', '70', '55', '108', '63', '732', '93', '162',
       '10-09-2015 18:15', '39', '34', '284', '170', '238', '246', '2001',
       '608', '144', '99', '71', '229', '338', '81', '176'], dtype=object)