In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

#### Read File

In [3]:
df2016=pd.read_csv('ks-projects-201612.csv')
df2018=pd.read_csv('ks-projects-201801.csv')

#### Data Cleaning

In [4]:
df2016.columns

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged ', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16'],
      dtype='object')

In [5]:
df2016.shape

(323750, 17)

In [6]:
df2016['currency '].unique()

array(['GBP', 'USD', 'CAD', 'NOK', 'AUD', 'EUR', 'MXN', 'SEK', 'NZD',
       'CHF', 'DKK', 'HKD', 'Music', 'Food', 'Theater', 'Technology',
       'Film & Video', 'SGD', 'Games', 'Art', 'Publishing', 'Design',
       'Rock', 'Comics', 'Crafts', 'Photography', 'Journalism', 'Fashion',
       'Software', 'Dance', ' Be active!', 'Nonfiction',
       ' clothing company', 'Painting', ' tango and culture',
       ' Religion ', 'Apparel'], dtype=object)

In [7]:
df2016=df2016.loc[df2016['currency '].isin(['GBP', 'USD', 'CAD', 'NOK', 'AUD', 'EUR', 'MXN', 'SEK', 'NZD',
       'CHF', 'DKK', 'HKD'])]
df2016['currency '].unique()

array(['GBP', 'USD', 'CAD', 'NOK', 'AUD', 'EUR', 'MXN', 'SEK', 'NZD',
       'CHF', 'DKK', 'HKD'], dtype=object)

In [8]:

df2016['main_category '].unique()

array(['Publishing', 'Film & Video', 'Music', 'Food', 'Design', 'Crafts',
       'Games', 'Comics', 'Fashion', 'Theater', 'Art', 'Photography',
       'Technology', 'Dance', 'Journalism'], dtype=object)

In [9]:

df2016['deadline '].unique()

array(['09-10-2015 11:36', '26-02-2013 00:20', '16-04-2012 04:24', ...,
       '19-07-2011 03:35', '13-02-2016 02:00', '16-08-2011 09:07'],
      dtype=object)

In [10]:
df2016['goal '].unique()

array(['1000', '45000', '5000', ..., '4536', '33975', '28559'],
      dtype=object)

In [11]:
df2016['state '].unique()

array(['failed', 'canceled', 'successful', 'live', 'undefined',
       'suspended'], dtype=object)

In [12]:
df2016['backers '].unique()

array(['0', '3', '1', ..., '3478', '5828', '2314'], dtype=object)

In [13]:
df2016['backers ']

0           0
1           3
2           1
3          14
4         224
         ...
323745      1
323746      5
323747      1
323748      6
323749     17
Name: backers , Length: 322999, dtype: object

In [14]:
df2016['country '].unique()

array(['GB', 'US', 'CA', 'NO', 'AU', 'IT', 'DE', 'IE', 'ES', 'N,"0', 'MX',
       'SE', 'FR', 'NL', 'NZ', 'CH', 'AT', 'BE', 'DK', 'HK', 'LU'],
      dtype=object)

In [15]:
df2016=df2016[df2016['country ']!='N,"0']

In [16]:
df2016.columns

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged ', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16'],
      dtype='object')

In [17]:
df2016.drop(['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16'],inplace=True,axis=1)

In [18]:
df2016.info()

<class 'pandas.core.frame.DataFrame'>
Index: 319209 entries, 0 to 323749
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              319209 non-null  int64
 1   name            319205 non-null  object
 2   category        319209 non-null  object
 3   main_category   319209 non-null  object
 4   currency        319209 non-null  object
 5   deadline        319209 non-null  object
 6   goal            319209 non-null  object
 7   launched        319209 non-null  object
 8   pledged         319209 non-null  object
 9   state           319209 non-null  object
 10  backers         319209 non-null  object
 11  country         319209 non-null  object
 12  usd pledged     319209 non-null  object
dtypes: int64(1), object(12)
memory usage: 34.1+ MB

In [19]:
df2016.isna().sum()

ID                0
name              4
category          0
main_category     0
currency          0
deadline          0
goal              0
launched          0
pledged           0
state             0
backers           0
country           0
usd pledged       0
dtype: int64

In [20]:
df2016.reset_index(inplace=True)

In [21]:
df2016['ID ']=df2016['ID '].astype(int)
df2016['name ']=df2016['name '].astype(str)
df2016['category ']=df2016['category '].astype(str)
df2016['name ']=df2016['name '].astype(str)

### EDA

##### Category

In [22]:
df2016['ID '][1]

1000004038

In [26]:
df2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319209 entries, 0 to 319208
Data columns (total 27 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   index           319209 non-null  int64
 1   ID              319209 non-null  int32
 2   name            319209 non-null  object
 3   category        319209 non-null  object
 4   main_category   319209 non-null  object
 5   currency        319209 non-null  object
 6   deadline        319209 non-null  object
 7   goal            319209 non-null  object
 8   launched        319209 non-null  object
 9   pledged         319209 non-null  object
 10  state           319209 non-null  object
 11  backers         319209 non-null  object
 12  country         319209 non-null  object
 13  usd pledged     319209 non-null  object
 14  ID              319209 non-null  int32
 15  name            319209 non-null  object
 16  category        319209 non-null  object
 17  main_category   319209 non-null  object
 18  currency        319209 non-null  object
 19  deadline        319209 non-null  datetime64[s]
 20  goal            319209 non-null  float64
 21  launched        319209 non-null  datetime64[s]
 22  pledged         319209 non-null  float64
 23  state           319209 non-null  object
 24  backers         319209 non-null  int32
 25  country         319209 non-null  object
 26  usd pledged     319209 non-null  float64
dtypes: datetime64[s](2), float64(3), int32(3), int64(1), object(18)
memory usage: 62.1+ MB

In [25]:
df2016['ID']=df2016['ID '].astype(int)
df2016['name']=df2016['name '].astype(str)
df2016['category']=df2016['category '].astype(str)
df2016['main_category']=df2016['main_category '].astype(str)
df2016['currency']=df2016['currency '].astype(str)
df2016['deadline']=df2016['deadline '].astype('datetime64[s]')
df2016['goal']=df2016['goal '].astype(float)
df2016['launched']=df2016['launched '].astype('datetime64[s]')
df2016['pledged']=df2016['pledged '].astype(float)
df2016['state']=df2016['state '].astype(str)
df2016['backers']=df2016['backers '].astype(int)
df2016['country']=df2016['country '].astype(str)
df2016['usd pledged']=df2016['usd pledged '].astype(float)

,index,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
0,0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-09-10 11:36:00,1000.0,2015-11-08 12:12:00,0.0,failed,0,GB,0.0
1,1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:00,45000.0,2013-12-01 00:20:00,220.0,failed,3,US,220.0
2,2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:00,5000.0,2012-03-17 03:24:00,1.0,failed,1,US,1.0
3,3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500.0,2015-04-07 08:35:00,1283.0,canceled,14,US,1283.0
4,4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-01-04 13:38:00,50000.0,2016-02-26 13:38:00,52375.0,successful,224,US,52375.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319204,323745,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17 02:35:00,50000.0,2014-09-17 02:35:00,25.0,canceled,1,US,25.0
319205,323746,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19 03:35:00,1500.0,2011-06-22 03:35:00,155.0,failed,5,US,155.0
319206,323747,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16 05:59:00,15000.0,2010-01-07 19:40:00,20.0,failed,1,US,20.0
319207,323748,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13 02:00:00,15000.0,2016-01-13 18:13:00,200.0,failed,6,US,200.0
319208,323749,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16 09:07:00,2000.0,2011-07-19 09:07:00,524.0,failed,17,US,524.0

In [28]:
df2016.drop(['ID ','name ','category ','main_category ','currency ','deadline ','goal ','launched ','pledged ','state ','backers ','country ','usd pledged '],axis=1,inplace=True)

In [29]:
df2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319209 entries, 0 to 319208
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   index          319209 non-null  int64
 1   ID             319209 non-null  int32
 2   name           319209 non-null  object
 3   category       319209 non-null  object
 4   main_category  319209 non-null  object
 5   currency       319209 non-null  object
 6   deadline       319209 non-null  datetime64[s]
 7   goal           319209 non-null  float64
 8   launched       319209 non-null  datetime64[s]
 9   pledged        319209 non-null  float64
 10  state          319209 non-null  object
 11  backers        319209 non-null  int32
 12  country        319209 non-null  object
 13  usd pledged    319209 non-null  float64
dtypes: datetime64[s](2), float64(3), int32(2), int64(1), object(6)
memory usage: 31.7+ MB

In [31]:
main_category_counts = df2016['main_category'].value_counts()
category_counts = df2016['category'].value_counts()
state_counts = df2016['state'].value_counts()

In [32]:
print("Main Category Counts:\n", main_category_counts)
print("\nCategory Counts:\n", category_counts)
print("\nState Counts:\n", state_counts)

Main Category Counts:
 main_category
Film & Video    56772
Music           44331
Publishing      33718
Games           27987
Technology      26087
Art             23956
Design          23826
Food            21188
Fashion         18366
Theater          9959
Photography      9661
Comics           8741
Crafts           7178
Journalism       4068
Dance            3371
Name: count, dtype: int64

Category Counts:
 category
Product Design    17443
Documentary       14888
Shorts            11681
Music             11524
Tabletop Games    10701
                  ...
Weaving              69
Residencies          54
Letterpress          36
Chiptune             33
Taxidermy            11
Name: count, Length: 158, dtype: int64

State Counts:
 state
failed        168079
successful    112944
canceled       32322
live            4389
suspended       1475
Name: count, dtype: int64

In [34]:
main_category_counts.head()

main_category
Film & Video    56772
Music           44331
Publishing      33718
Games           27987
Technology      26087
Name: count, dtype: int64

In [ ]:
plt.figure(figsize=(10,10))
plt.ba()